:root {
    --hover-color: #e84b94;
    --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #393252;
}

/* Шапка */

header {
    width: 100%;
}

.header__container {
    display: flex;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px 30px;
}

.header__icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.icon-left {
    justify-self: left;
}

.icon-right {
    justify-self: right;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #222;
    text-decoration: none;
}

.icon-left,
.icon-right {
    color: #555;
    font-size: 18px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-left:hover,
.icon-right:hover {
    color: var(--hover-color);
}

.header__divider {
  height: 1px;
  width: 96%;
  background-color: #e0e0e0;
  margin: 0 auto;
}

/* Навигация */

nav {
    clear: both;
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 17px;
    letter-spacing: 1px;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--hover-color);
}

/* About секция */

.about {
    padding: 70px 100px;
    display: flex;
    justify-content: center;
}

.about__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  min-height: 350px;
  background-color: #271e4b;
  width: 100%;
  max-width: 1500px;
}

.info {
    flex: 1;
    padding: 60px 40px 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
}

.info h1 {
  margin: 0;
  font-size: 2.2rem;
  width: 520px;
  font-weight:normal;
  line-height: 1.2;
  color: var(--white);
}

.button-link {
  display: inline-block;
  padding: 25px 40px;
  background: #594f7f;
  color: var(--white);
  text-decoration: none;
  width: fit-content;
  font-weight: 400;
  margin-top: 30px;
}

.button-link:hover {
  background-color: #7c73a4;
}

.info p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--white);
    margin: 0;
    margin-top: auto;
    padding-bottom: 30px;
    align-self: flex-start;
}

.about__image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about__image img {
    width: 650px;
    object-fit: cover;
    display: block;
}

/* Преимущества */

.benefits {
  padding: 70px 100px;
  background-color: var(--white);
}

.benefits__container h1 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
  color: #333;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 300px;
  padding-left: 0;
  background-color: white;
  gap: 20px;
}

.card-icon {
  font-size: 2rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: normal;
}

.card-text {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

/* Коллекция */

.collection {
  padding: 70px 100px;
  background-color: var(--white);
}

.collection__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 1500px;
  flex-direction: column;
  min-height: 600px;
}

.collection-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 2.3rem;
  font-weight: normal;
  color: #333;
  padding-top: 10px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 80px;
  justify-items: center;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

.collection-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.collection-text {
  margin-top: 15px;
  font-size: 1.3rem;
  color: #333;
  text-align: left;
}

.collection-btn {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 40px;
  background-color: #f3f3f3;
  text-decoration: none;
  color: #333;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

.collection-btn:hover {
    background-color: #e0e0e0;
}

/* Популярное */

.popular {
  padding: 70px 100px;
  background-color: var(--white);
}

.popular__container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.popular-grid {
  display: flex;
  gap: 20px;
  margin-top: 80px;
  align-items: stretch;
  justify-content: space-between;
}

.popular-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.popular-item.big {
  width: 60%;
}

.popular-item.small {
  width: 29%;
}

.popular-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.popular-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 2.3rem;
  font-weight: normal;
  color: #333;
  padding-top: 10px;
}

.popular-text {
   margin-top: 15px;
  font-size: 1.3rem;
  color: #333;
  text-align: left;
}

.collection-btn {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 40px;
  background-color: #f3f3f3;
  text-decoration: none;
  color: #333;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

.collection-btn:hover {
    background-color: #e0e0e0;
}

/* CTA-секция */

.cta {
    padding: 70px 100px;
    background-color: #f6f6f6;
}

.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 70px;
    background-color: var(--white);
}

.cta-title {
  font-size: 2.5rem;
  font-weight: normal;
  width: 800px;
  margin: 0 0 20px 0;
  padding-top: 90px;
  color: #333;
}

.cta-text {
  font-size: 1.05rem;
  width: 530px;
  color: #333;
  margin: 0 0 40px 0;
  line-height: 1.6;
  padding-bottom: 60px;
}

form {
  display: flex;
  width: 100%;
  max-width: 500px; /* ограничиваем ширину формы */
}

input[type="email"] {
  flex: 1;
  padding: 20px 16px;
  border: none;
  background-color: #f8f8f8;
  font-size: 1rem;
  color: #d0d0d0;
}

button[type="submit"] {
  padding: 20px 35px;
  background-color: #594f7f;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #7c73a4;
}

/* Контакты */

.contact {
    padding: 70px 100px;
    display: flex;
    justify-content: center;
}

.contact__container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 350px;
  width: 100%;
  max-width: 1500px;
}


.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
}

.contact-info h1 {
  margin: 0;
  font-size: 1.7rem;
  width: 650px;
  font-weight:normal;
  line-height: 1.2;
}

.contact-info p {
    font-size: 1rem;
    width: 650px;
    gap: 25px;
    line-height: 1.7;
}

.contact__image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact__image img {
    width: 650px;
    object-fit: cover;
    display: block;
}

.button-link {
  display: inline-block;
  padding: 25px 40px;
  background: #f3f3f3;
  text-decoration: none;
  color: #333;
  width: fit-content;
  font-weight: 400;
  margin-top: 298px;
}

.button-link:hover {
  background-color: #e0e0e0;
}

.info p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--white);
    margin: 0;
    margin-top: auto;
    padding-bottom: 30px;
    align-self: flex-start;
}

.contact__image {
  width: 50vw; /* ← половина viewport */
  height: 100%;
  flex-shrink: 0; /* не сжимается */
}

.contact__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Подвал */

.footer {
  background-color: #271e4b;
  color: var(--white);
  padding: 60px 100px 20px;
}

.footer__main {
  display: flex;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.footer__columns {
  display: flex;
  gap: 150px;
  flex: 1;
}

.footer__column h3 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 16px;
  color: var(--white);
}

.footer__column ul {
  list-style: none;
  padding: 0;
}

.footer__column ul li {
  margin-bottom: 10px;
}

.footer__column ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: .9rem;
  line-height: 2;
}

.footer__column ul li a:hover {
  color: white;
}

.footer__form {
  width: 700px; /* ширина формы */
}


.footer__form h3 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.footer__form p {
  color: #aaa;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.footer__form form {
  display: flex;
}

.footer__divider {
  height: 1px;
  background-color: #543ec0;
  margin-bottom: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 0.9rem;
  color: #aaa;
}пш

.footer__social {
  display: flex;
  gap: 15px; /* расстояние между иконками */
  margin: 0;
}

.footer__social a {
  color: #aaa;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer__social a:hover {
  color: white;
}

@media (max-width: 768px) {

  /* Header */
  .header__container {
    padding: 20px 16px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    position: static;
    transform: none;
    order: 2;
    margin: 0 auto;
  }

  .icon-left, .icon-right {
    margin: 0 8px;
    font-size: 18px;
  }

  /* Navigation */
  nav {
    padding: 20px 16px;
  }

  nav ul {
    flex-direction: column;
    gap: 16px;
  }

  /* About */
  .about {
    padding: 40px 16px;
  }

  .about__container {
    flex-direction: column;
    min-height: auto;
    padding: 20px 0;
  }

  .info, .about__image {
    flex: none;
    width: 100%;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .info {
    padding: 0 0 30px 0;
    gap: 20px;
  }

  .info h1 {
    width: auto;
    font-size: 1.8rem;
    text-align: center;
  }

  .info p {
    width: 100%;
    padding-bottom: 0;
  }

  .about__image {
    justify-content: center;
  }

  .about__image img {
    width: 90%;
    max-width: 300px;
  }

  .button-link {
    margin-top: 20px;
    padding: 16px 32px;
    font-size: 1rem;
  }

  /* Benefits */
  .benefits {
    padding: 40px 16px;
  }

  .cards {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    align-items: center;
  }

  /* Collection */
  .collection {
    padding: 40px 16px;
  }

  .collection-title {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }

  .collection-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 40px;
  }

  .collection-item img {
    max-width: 100%;
  }

  .collection-text {
    text-align: center;
    font-size: 1.1rem;
  }

  /* Popular */
  .popular {
    padding: 40px 16px;
  }

  .popular-title {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }

  .popular-grid {
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }

  .popular-item {
    width: 100% !important;
  }

  .popular-item img {
    height: auto;
  }

  .popular-text {
    text-align: center;
    font-size: 1.1rem;
  }

  /* CTA */
  .cta {
    padding: 40px 16px;
    background-color: #f6f6f6;
  }

  .cta__container {
    padding-bottom: 40px;
  }

  .cta-title,
  .cta-text {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .cta-title {
    font-size: 2rem;
    padding-top: 40px;
  }

  .cta-text {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  form {
    flex-direction: column;
    gap: 10px;
  }

  input[type="email"],
  button[type="submit"] {
    width: 100%;
    padding: 16px;
    text-align: center;
  }

  /* Contact */
  .contact {
    padding: 40px 16px;
  }

  .contact__container {
    flex-direction: column;
    min-height: auto;
    gap: 30px;
  }

  .contact-info,
  .contact__image {
    flex: none;
    width: 100%;
  }

  .contact-info h1,
  .contact-info p {
    width: 100%;
    text-align: center;
  }

  .contact__image {
    width: 100%;
    justify-content: center;
  }

  .contact__image img {
    width: 90%;
    max-width: 300px;
  }

  .button-link {
    margin-top: 20px;
  }

  /* Footer */
  .footer {
    padding: 40px 16px 20px;
  }

  .footer__main {
    flex-direction: column;
    gap: 30px;
  }

  .footer__columns {
    gap: 40px;
    flex-direction: column;
  }

  .footer__form {
    width: 100%;
  }

  .footer__form form {
    flex-direction: column;
    gap: 10px;
  }

  .footer__form input,
  .footer__form button {
    width: 100%;
    padding: 14px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer__social {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header__container {
    padding: 16px;
  }

  .info h1 {
    font-size: 1.5rem;
  }

  .cta-title {
    font-size: 1.7rem;
  }

  .collection-grid {
    grid-template-columns: 1fr;
  }

  .footer__column h3 {
    font-size: 1.1rem;
  }
}